---
---

@import "{{ site.theme }}";
body {
  background-color: #ffffff;  /* White background */
}

#header {
  background-color: #004225;  /* Dark green header */
  color: #F2C811;             /* Yellow text in the header */
}

#sidebar {
  background-color: #004225;  /* Dark green sidebar */
  color: #F2C811;             /* Yellow text in sidebar */
}

.sidebar a {
  color: #F2C811;             /* Yellow links in sidebar */
}

a {
  color: #F2C811;             /* Yellow links throughout the page */
}
